html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  background: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  border: 0;
  border-top: 1px solid #ccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
table {
  width: 100%;
  color: #1d2531;
}
table th {
  text-align: left;
}
table th,
table td {
  padding: 20px;
  vertical-align: top;
  border-top: solid 1px #e7e9ed;
}
table th:first-child,
table td:first-child {
  padding-left: 30px;
}
table thead th {
  vertical-align: bottom;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid #eee;
  border-top: none;
}
form .form-group {
  margin-bottom: 15px;
}
form .form-group.error input {
  background-color: rgba(250,120,126,0.1) !important;
  border-color: rgba(250,120,126,0.9) !important;
}
form label {
  font-size: 13px;
  line-height: 17px;
  color: #7f8fa4;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 5px;
}
form input {
  font-size: 13px;
  border-radius: 4px;
  padding: 8px 12px;
  display: block;
  border: solid 1px #dfe3e9;
  color: #354052;
  width: 100%;
  background: #fff;
  outline: none;
}
form input:focus {
  color: #354052;
  border-color: #2096f0;
}
.right {
  float: right;
}
.no-padding {
  padding: 0 !important;
}
.p35 {
  padding: 35px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb25 {
  padding-bottom: 25px;
}
.pb30 {
  padding-bottom: 30px;
}
.m35 {
  margin: 35px;
}
.mb20 {
  margin-bottom: 20px;
}
.loader {
  margin: 20% auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(53,53,53,0.2);
  border-right: 1.1em solid rgba(53,53,53,0.2);
  border-bottom: 1.1em solid rgba(53,53,53,0.2);
  border-left: 1.1em solid #353535;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.vue-loading {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  border: none;
/*background-color: rgba(0, 0, 0, .85);*/
  cursor: wait;
  opacity: 1 !important;
  transition: opacity 0.4s;
}
.vue-loading-msg {
  box-sizing: content-box !important;
  position: absolute;
  z-index: 1001;
  margin: 0px;
  padding: 0 35px;
  height: 40px;
  top: 20%;
  left: 50%;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  cursor: wait;
  background-color: #f4f4f4;
  border-radius: 4px;
  box-shadow: 0 1px 8px rgba(0,0,0,0.15);
  border: solid 1px #bbb;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.fade-transition {
  transition: opacity 0.3s ease;
}
.fade-enter,
.fade-leave {
  opacity: 0;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
h1 {
  font-size: 24px;
  margin-bottom: 20px;
  padding-bottom: 30px;
}
h2 {
  font-size: 20px;
  margin-bottom: 10px;
  padding-bottom: 20px;
}
.b-b {
  border-bottom: 1px solid #e6e9ec;
}
.p-20 {
  padding: 20px;
}
.p-30 {
  padding: 30px;
}
.sidebar {
  background: #1d2531;
  font-weight: 600;
}
.sidebar h3 {
  color: #5b6779;
  text-transform: uppercase;
  font-size: 12px;
  margin: 30px 0 15px 30px;
}
.sidebar li {
  padding-left: 20px;
  transition: background-color 0.1s ease-in-out 0s;
  border-left: 4px solid transparent;
}
.sidebar li:hover,
.sidebar li.active {
  background: #313d4f;
  border-left: 4px solid #279bf3;
}
.sidebar li.active a {
  color: #fff;
}
.sidebar li.active a i {
  color: #279bf3;
}
.sidebar a {
  color: #b7c0cd;
  display: block;
  padding: 10px 0;
  transition: color 0.1s ease-in-out 0s;
  position: relative;
  margin-bottom: 5px;
}
.sidebar a i {
  position: relative;
  float: left;
  width: 40px;
  margin: -10px -10px;
  margin-right: 5px;
  overflow: hidden;
  line-height: 40px;
  text-align: center;
}
.sidebar a:hover {
  color: #fff;
}
.sidebar a:hover i {
  color: #279bf3;
}
.dashhead {
  padding: 30px 30px 0 30px;
}
.dashhead h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}
.dashhead nav {
  clear: both;
  overflow: hidden;
}
.dashhead nav li {
  float: left;
  margin-right: 30px;
}
.dashhead nav li a {
  color: #7f8fa4;
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 23px;
  display: block;
  transition: color 0.1s ease-in-out 0s;
  border-bottom: solid 3px transparent;
}
.dashhead nav li a. {
  color: #2b333e;
  border-bottom: solid 3px #2b333e;
  transition: border-color 0.1s ease-in-out 0s;
}
.dashhead nav li.active a,
.dashhead nav li:hover a {
  color: #2b333e;
  border-bottom: solid 3px #2b333e;
  transition: border-color 0.1s ease-in-out 0s;
}
.dashhead nav li:last-child a {
  padding-right: 0;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  text-align: center;
  z-index: 1000;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.loader.disabled {
  display: none;
}
.dimmer {
  display: none;
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(255,255,255,0.7);
  border-radius: 4px;
  opacity: 0;
  line-height: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  transition: background-color 0.5s linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  will-change: opacity;
  z-index: 1000;
}
.dimmer .loading {
  display: block;
  margin: 25% auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(53,53,53,0.2);
  border-right: 1.1em solid rgba(53,53,53,0.2);
  border-bottom: 1.1em solid rgba(53,53,53,0.2);
  border-left: 1.1em solid #353535;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  z-index: 2000;
}
.dimmer .loading,
.dimmer .loading:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.active.dimmer {
  display: block;
  opacity: 1;
}
.box {
  background: #fff;
  border: solid 1px #e6eaee;
  border-radius: 3px;
  padding: 30px 25px;
}
.btn {
  display: inline-block;
  padding: 0.375rem 1rem;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #ced0da;
  border-radius: 0.25rem;
  background: linear-gradient(to bottom, #fff 0%, #f2f4f7 100%);
  color: #7383a1;
}
.btn:hover {
  background: linear-gradient(to bottom, #f2f4f7 0%, #fff 100%);
}
.btn.green {
  background: #39b54a;
  background: linear-gradient(to bottom, #39b54a 0%, #34aa44 100%);
  color: #fff;
}
.btn.green:hover {
  background: #34aa44;
  background: linear-gradient(to bottom, #34aa44 0%, #39b54a 100%);
}
.btn.green.btn-border {
  border-color: #249533;
}
.btn.disabled,
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font: 14px 'Open Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  background: #eff3f6;
}
.bg-light {
  color: #354052;
  background: #fff;
}
a {
  text-decoration: none;
}
.container {
  height: 100%;
}
.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
#app.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  height: 100%;
}
#app.row > div {
  height: 100%;
}
#app.row > div:first-child {
  width: 200px;
}
#app.row > div:last-child {
  width: calc(100% - 200px);
}
.half-column {
  width: calc(99.99% * 1/2 - (30px - 30px * 1/2));
}
.half-column:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}
.half-column:last-child {
  margin-right: 0;
}
.half-column:nth-child(2n) {
  margin-right: 0;
  float: right;
}
.half-column:nth-child(2n + 1) {
  clear: left;
}
.main-content {
  padding: 30px;
}

/*# sourceMappingURL=app.css.map */
