table {
	width 100%
	color: #1d2531
	th {
		text-align left
	}
	th,
	td {
		padding: 20px;
		vertical-align: top;
		border-top: solid 1px #e7e9ed;
		&:first-child {
			padding-left 30px
		}
	}
	thead {
		th {
			vertical-align: bottom;
		    padding-top: 20px;
    		padding-bottom: 20px;
    		border-bottom: 3px solid #eee;
    		border-top:none;
		}
	}
}