primary-color = #1d2531
secondary-color = #273142
blue-color = #279bf3
blue-dark-color = #2b333e

error = #ffa2ad
error-border = #de6f7b
error-color = #af2534

green = #34ab44
dark-green = #249533

font-size = 14px

bg-light = #fff

h1-size = 24px
h2-size = 20px

border-light-color = #e6e9ec

