h1,h2,h3,h4,h5,h6 {
	font-weight 400
}

h1 {
	font-size h1-size
	margin-bottom 20px
	padding-bottom 30px;
}

h2 {
	font-size h2-size
	margin-bottom 10px
	padding-bottom 20px;
}


.b-b {
    border-bottom: 1px solid border-light-color;
}

.p-20 {
	padding: 20px;
}

.p-30 {
	padding: 30px;
}